#root {
  background-color: #0B445F;
  height: 100vh;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.user-list li {
  list-style-type: none;
}

.user-square {
  background-color: #164C64;
  margin: 10px;
  color: white;
  border-radius: 2px;
}

.profile-pic {
  height: 200px;
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.user-info h2 {
  margin: 0;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.user-name {
  font-weight: normal;
}

.user-age {
  font-weight: bold;
}

.user-distance {
  font-size: 0.8em;
  margin: 0;
}

.seperator {
  margin: 0;
}